
.Profile > h5 {
    text-align: center;
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
}
.Profile> img {
    margin: 0 auto;
    display: block;
    width: 512px;
    height: auto;
}
.Profile > p {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.soshialwrap {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}
.soshialwrap p {
    margin: 5px;
    display: inline-block;
}

